body {
    height: 130vh;
}

main {
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    gap: 100px;
    padding: 60px;
}

header {
    position: fixed;
    top: 0;
    width: 99%;
    height: 95px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    background-color: #44494F;
    color: white;
    text-align: center;
    align-items: center;
}

header > img {
    width: 60px;
    height: 60px;
}

main > img {
    width: 500px;
    height: 500px;
    border: 1px solid #44494F;
}

.texto-manutencao {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    font-size: 22px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8%;
    height: 4%;
    font-size: 20px;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #b2bbc6;
    color: black;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #c6cbd0;
}

button:active {
    background-color: #d2d2d2;
}

button > img {
    width: 30px;
    height: 30px;
}


