body {
    height: 160vh;
}

main {
    height: 160vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

header {
    position: fixed;
    top: 0;
    width: 99%;
    height: 95px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    background-color: #44494F;
    color: white;
    text-align: center;
    align-items: center;
}

header > img {
    width: 60px;
    height: 60px;
}

table {
    background-color: #cdcfd0;
    width: 1000px;
    height: 500px;
}

table > thead {
    font-size: 25px;
    background-color: #44494F;
    color: white;
}

table > tbody {
    font-size: 25px;
    text-align: center;
}

.td-numerico {
    font-size: 23px;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #44494F;
    border-left: 1px solid #44494F;
    border-right: 1px solid #44494F;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 60px;
}


.img-texto {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    gap: 200px;
}


.img-texto > img {
    width: 500px;
    height: 500px;
    border: 1px solid #44494F;
}

.div2 {
    display: flex;
    flex-direction: row;
    font-size: 5px;
    align-items: center;
    gap: 200px;
    width: 100%;
}

.divdiv2 {
    height: 100px;
    width: 100px;
}

.texto-div1 {
    flex-wrap: wrap;
}