@media screen and (max-width: 900px){
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10%;
    }
}

@media screen and (max-width: 530px){
    header {
        font-size: 15px;
    }
}






