@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    header img {
        width: 80px;
        height: 80px;
    }

    main {
        padding: 30px;
        gap: 50px;
    }

    .texto-manutencao {
        width: 90%;
        font-size: 18px;
    }

    main > img {
        width: 100%;
        height: auto;
    }

    button {
        width: 50%;
        height: 40px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header img {
        width: 60px;
        height: 60px;
    }

    .texto-manutencao {
        font-size: 16px;
    }

    button {
        width: 70%;
        font-size: 16px;
    }
}