body {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 60px;
}

header {
    top: 0;
    width: 99%;
    height: 95px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    background-color: #44494F;
    color: white;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
}

header > img {
    width: 60px;
    height: 60px;
}

table {
    background-color: #cdcfd0;
    width: 1000px;
    height: 500px;
}

table > thead {
    font-size: 25px;
    background-color: #44494F;
    color: white;
}

table > tbody {
    font-size: 25px;
    text-align: center;
}

.td-numerico {
    font-size: 23px;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #44494F;
    border-left: 1px solid #44494F;
    border-right: 1px solid #44494F;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8%;
    height: 4%;
    font-size: 20px;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #b2bbc6;
    color: black;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #c6cbd0;
}

button:active {
    background-color: #d2d2d2;
}

button > img {
    width: 12%;
    height: 12%;
}




