@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 20px;
    }
    
    table {
        width: 100%;
        font-size: 18px;
    }

    .td-numerico {
        font-size: 16px;
    }

    button {
        width: 50%;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 16px;
    }

    .td-numerico {
        font-size: 14px;
    }

    button {
        width: 70%;
        font-size: 16px;
    }
}
